extends layout

block content  
  .row
    .col-md-10      
      h3 Accounts
    .col-md-1
      if offset - stepSize >= 0
        a.btn.btn-default(href="/accounts/" + (offset - stepSize)) Previous
    .col-md-1
        a.btn.btn-default(href="/accounts/" + (offset + stepSize)) Next
  .row
    .col-md-12
      .table-responsive
        table.table
          tr
            th Address
            th Balance
          for account in accounts
            tr
              td
                a(href="/account/" + account._id) #{account._id}
              td #{tokenformatter.format(account.balance)}