extends layout

block content  
  .row
    .col-md-10      
      h3 Events
    .col-md-1
      if offset - stepSize >= 0
        a.btn.btn-default(href="/events/" + (offset - stepSize)) Previous
    .col-md-1
        a.btn.btn-default(href="/events/" + (offset + stepSize)) Next
  .row
    .col-md-12
      .table-responsive
        table.table
          tr
            th Type
            th From
            th To
            th Amount
            th Date
          for event in events
            +event_row(event)