extends layout

block content
  .row
    .col-md-12
      h1 #{config.tokenName}
      p Welcome to the #{config.tokenShortName} Explorer powered by bitfly!
  
  .row
    .col-md-12
      h3 Recent transactions
  .row
    .col-md-12
      .table-responsive
        table.table
          tr
            th Type
            th From
            th To
            th Amount
            th Date
          for event in events
            +event_row(event)
